<p id="notice"><%= notice %></p>

<h1 class="titles">Vehicles for Sale</h1>




<div class="row">

  <% @vehicles.each do |vehicle| %>

  <div class="col-md-6">
      
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></strong></h3>
      </div>
    <div class="panel-body">
      <%= image_tag vehicle.avatar.url(:medium), class: "img-responsive" %>
      <p><%= vehicle.body_style %></p>  
      <p>Color: <%= vehicle.color %></p>
      <p>Engine: <%= vehicle.engine %></p>
      <p>Drivetrain: <%= vehicle.drivetrain %></p>
      <p>Transmission: <%= vehicle.transmission %></p>
      <p>Fuel Type: <%= vehicle.fuel_type %></p>
      <p>Options: <%= vehicle.options %></p>
    </div>
    <div class="panel-footer">Miles: <%= vehicle.miles %></div>
    </div>

    <button type="button" class="btn btn-default btn-xs"><%= link_to 'Show', vehicle %></button>
    <button type="button" class="btn btn-default btn-xs"><%= link_to 'Edit', edit_vehicle_path(vehicle) %></button>
    <button type="button" class="btn btn-default btn-xs"><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></button>     
        
  </div>
  <% end %>
</div>


<br>
<button type="button" class="btn btn-default btn-xs"><%= link_to 'New Vehicle', new_vehicle_path %></button>  






