<p id="notice"><%= notice %></p>




<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><strong><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></strong></h2>
  </div>
  <div class="panel-body">
    <%= image_tag @vehicle.avatar.url(:large), class: "img-responsive"  %>
    <p><strong>Body style: </strong><%= @vehicle.body_style %></p>
    <p><strong>Miles: </strong><%= @vehicle.miles %></p>
    <p><strong>Color: </strong><%= @vehicle.color %></p>
    <p><strong>Interior Color: </strong></p>
    <p><strong>Engine: </strong><%= @vehicle.engine %></p>
    <p><strong>Drivetrain: </strong><%= @vehicle.drivetrain %></p>
    <p><strong>Transmission: </strong><%= @vehicle.transmission %></p>
    <p><strong>Fuel type: </strong><%= @vehicle.fuel_type %></p>
    <p><strong>Options: </strong><%= @vehicle.options %></p>
  </div>
</div>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
